

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th class="medium-1">Avatar</th>
       <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "yes" : "no" %></td>
        <td><%=image_tag(zombie.avatar)  %></td>
        <% if zombie.user_id?%>
            <td><%= User.find(zombie.user_id).email %></td>
        <%else%>  
             <td>sin dueno </td>
        <%end%>
        <% if current_user.role=="subscriber" %>
                 <td><button type="button" class="button success">  <%= link_to 'Show', zombie %></button></td>
        <% elsif current_user.role=="contributor" %>
          <td><button type="button" class="button success">  <%= link_to 'Show', zombie %></button></td>
          <td><button type="button" class="button warning"> <%= link_to 'Edit', edit_zombie_path(zombie) %></button></td>
        <%else%> 
          <td><button type="button" class="button success">  <%= link_to 'Show', zombie %></button></td>
          <td><button type="button" class="button warning"> <%= link_to 'Edit', edit_zombie_path(zombie) %></button></td>
          <td><button type="button" class="button alert"> <%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role=="subscriber" %>
 <%else%> 

<button type="button" class="button primary"><%= link_to 'New Zombie', new_zombie_path %></button>
<% end %>